.way_icon {
  font-size: 100px;
  background: -moz-linear-gradient(top, #e72c83 0%, #a742c6 100%);
  background: -webkit-linear-gradient(top, #e72c83 0%, #a742c6 100%);
  background: linear-gradient(to bottom, #e72c83 0%, #a742c6 100%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.linkStyle {
  font-size: 48px;
  font-weight: 800;
  font-family: Times New Roman;
  flex-grow: 1;
  color: white;
  cursor: pointer;
  flex: 1;
  width: 100%
}

Link [title]:hover::after {
  content: attr(title);
  position: absolute;
  top: -100%;
  left: 0;
}